#browser {
	width: 427px;
	height: 50px;
	background-color: #fff9e7;
	border-radius: 2px;
	border: solid 1px #ffab18;
	padding: 0 14px;
	box-sizing: border-box;
	position: fixed;
	left: 38%;
	top:20px;
	z-index:9999;
}
#browser .texts {
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffab18;
	float: left;
	line-height: 48px;
}
#browser .texts h1{
	font-size: 16px;
	line-height: 48px;
}
#browser .texts	a {
	color: #45a9ff;
	cursor: pointer;
	padding-bottom: 2px;
	text-decoration: none;
	border-bottom: 1px solid #45a9ff;
}	
#browser .icon1 {
	width: 20px;
	height: 20px;
	float: left;
	margin: 14px 18px 0 0;
}
#close {
	width: 14px;
	height: 14px;
	cursor: pointer;
	float: right;
	margin-top: 17px;
}

@media (max-width: 1420px) {
	#browser {
		width: 340px;
		height:40px;
		top:5px;
	}
	#browser .texts {
		font-size: 12px;
		line-height:40px;
	}
	#browser .icon1 {
		width: 16px;
		height: 16px;
		margin: 11px 16px 0 0;
	}
	#close {
		width: 12px;
		height: 12px;
		margin-top: 14px;
	}
}